<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Amount</title>
</head>
<body>
    <input type ="button" onclick="history.back()" value="回到上一頁"></input>
    <form action='/'>
        <button>回到首頁</button>
    </form>
    <p>此 ID 使用此 Product 日期，總 Usage Amount:</p>
    <pre>{{data_pro.json}}</pre>
    <img src="data:image/png;base64,{{data_pro.img}}">

</body>
</html>